In [1]:
data = ..data\raw\train.csv
print(data.describe())

SyntaxError: invalid syntax (775913575.py, line 1)

In [2]:
import pandas as pd

data = pd.read_csv("../../data/raw/train.csv")
print(data.describe())

                  id            Age  Academic Pressure  Work Pressure  \
count  140700.000000  140700.000000       27897.000000  112782.000000
mean    70349.500000      40.388621           3.142273       2.998998
std     40616.735775      12.384099           1.380457       1.405771
min         0.000000      18.000000           1.000000       1.000000
25%     35174.750000      29.000000           2.000000       2.000000
50%     70349.500000      42.000000           3.000000       3.000000
75%    105524.250000      51.000000           4.000000       4.000000
max    140699.000000      60.000000           5.000000       5.000000

               CGPA  Study Satisfaction  Job Satisfaction  Work/Study Hours  \
count  27898.000000        27897.000000     112790.000000     140700.000000
mean       7.658636            2.944940          2.974404          6.252679
std        1.464466            1.360197          1.416078          3.853615
min        5.030000            1.000000          1.000000          0.000000
25%        6.290000            2.000000          2.000000          3.000000
50%        7.770000            3.000000          3.000000          6.000000
75%        8.920000            4.000000          4.000000         10.000000
max       10.000000            5.000000          5.000000         12.000000

       Financial Stress     Depression
count     140696.000000  140700.000000
mean           2.988983       0.181713
std            1.413633       0.385609
min            1.000000       0.000000
25%            2.000000       0.000000
50%            3.000000       0.000000
75%            4.000000       0.000000
max            5.000000       1.000000

In [3]:
print(data.describe()loc['mean', 'min', 'max'].T

SyntaxError: '(' was never closed (796660976.py, line 1)

In [4]:
print(data.describe()loc['mean', 'min', 'max'].T)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (686386448.py, line 1)

In [5]:
import pandas as pd

data = pd.read_csv("../../data/raw/train.csv")
print(data.describe()loc['mean', 'min', 'max'].T)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1757820856.py, line 4)

In [6]:
print(data.describe().loc[['mean', 'min', 'max']].T)

                            mean    min       max
id                  70349.500000   0.00  140699.0
Age                    40.388621  18.00      60.0
Academic Pressure       3.142273   1.00       5.0
Work Pressure           2.998998   1.00       5.0
CGPA                    7.658636   5.03      10.0
Study Satisfaction      2.944940   1.00       5.0
Job Satisfaction        2.974404   1.00       5.0
Work/Study Hours        6.252679   0.00      12.0
Financial Stress        2.988983   1.00       5.0
Depression              0.181713   0.00       1.0